<div>
    <ul>
        
        <li><a routerLink="aboutus" routerLinkActive="true">About us</a></li>
   

        
        <li>Maintainance</li>
        <ul>
            <li><a href=""routerLink="usermaintainance" >User Maintainance</a></li>
            
        </ul>
        <ul>
            <li><a href=""routerLink="adminmaintainance" >Admin Maintainance</a></li>
        </ul>
        
    </ul>
    <router-outlet></router-outlet>
    
</div>
<!-- <a routerLink="maintainance" routerLinkActive="true"></a> -->