<body>
  
<div class="feedback">
    <div class="logo">
        <img src="assets/icon5.jpg" alt="">
    </div>
    <h1>Thanks For Your Visit!</h1>
    <hr>
    <div class="form">

        <div class="Fullname">
            <label for="text"> Fullname:</label>
            <input type="text" placeholder=" enter name" formControlName="fullname">
        </div>
        <div class="lastname">
            <label for="text"> Password:</label>
            <input type="password" placeholder=" enter password" formControlName="password">
        </div>
        <div class="email">
            <label for="text"> Email:   </label>
            <input type="email" placeholder=" enter email" formControlName="email">
        </div>
        <div class="options">
            <label for="option">Choose a Feedback Rating:</label>
            <select name="option" id="cars">
                <option value="volvo">Excellent</option>
                <option value="saab">Good</option>
                <option value="opel">Average</option>
                <option value="audi">Bad</option>
              </select>

        </div>
       
        <div class="question1">
            <label for="text"> Is this your first visit to this website?   </label>
            <input type="checkbox" placeholder=" enter email" >Yes
            <input type="checkbox" placeholder=" enter email" >No
        </div>
        <div class="question2">
            <label for="text"> Were you able to find what you needed?  </label>
            <input type="checkbox" placeholder=" enter email" >Yes
            <input type="checkbox" placeholder=" enter email" >No
        </div>
        <div class="question3">
            <label for="text"> How easy is it to find information on this site?  </label>
            <input type="checkbox" placeholder=" enter email" >Very Easy
            <input type="checkbox" placeholder=" enter email" >Easy
            <input type="checkbox" placeholder=" enter email" >Average
            <input type="checkbox" placeholder=" enter email" >Difficult    
            <input type="checkbox" placeholder=" enter email" >Very Difficult
        </div>
        <div class="submit">
            <Button>Submit</Button>
        </div>
        <hr>
        <div class="community">
          Wanna join our Community? Then you are just a click away! <Button>Join Now!</Button>
        </div>
    </div>
</div>
</body>
