.feedback
{
    text-align: center;
}
img{
    height: 300px;
}
label
{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}
#cars
{
    font-family: 'Times New Roman', Times, serif;
}
hr{
    border: 1px solid black;
    width: 1000px;
    margin-left: 250px;
}
.form{
    margin-bottom: 500px;
}
h1
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.community
{
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}