<form [formGroup]="usermaintainence" (ngSubmit)="Usermaintainence()">
    <div class="user">
        <h1><u>User Maintainance</u></h1>
        <div class='inputs'>
            <label for="userid">User Rate Id:</label>
            <input type="text" formControlName="ID">


            <label for="status">Status:</label>
            <select name="status" id="" formControlName="Status">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>
        <div class="button">
            <button class="button1" 
                (click)="match(usermaintainence.get('ID')?.value,usermaintainence.get('Status')?.value)">Search</button>
            <button class="button2" (click)="useradd()">Add</button>
           
            
        </div>
        <table>
           
          
            <tr>
                <th>No.</th>
                <th>ID</th>
                <th>User Name</th>
                <th>Status</th>
                <th>User Creation Date</th>
                <th>Action</th>
            </tr>
            <tr *ngIf="userdata && userdata.length==0">
                <td colspan="6" id="record">No Records Found!</td>
            </tr>
            <tr *ngFor="let item of userdata|paginate: { itemsPerPage: 2, currentPage: p }">
                <td>{{item.No}}</td>
                <td>{{item.ID}}</td>
                <td>{{item.UserName}}</td>
                <td>{{item.Status}}</td>
                <td>{{item.UserCreationDate}}</td>
                <td> <button id="delete" (click)="delete(item)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg></button></td>
            </tr>

           
        </table>
        
        <pagination-controls (pageChange)="p= $event"></pagination-controls>

      

    </div>

</form>